:root {
  --bg: #f1f1f1;
  --hotpink: #e94057;
  --orange: #f27121;
  --black: #000;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
  

}

body {
  margin: auto;
  min-height: 100vh;
  background-image: url("https://i.postimg.cc/vTxsH8GS/1920x855-Gates-of-Olympus-bg.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
