:root {
  --bg: #f1f1f1;
  --hotpink: #e94057;
  --orange: #f27121;
  --black: #000;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}

body {
  width: 100vw;
  height: 100vh; 
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.tarjeta {
  background-image: url("https://i.postimg.cc/fTfWys12/Whats-App-Image-2022-07-02-at-12-24-45-AM.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

