@media (min-width: 577px) {
    
main {  
    width: 100vw;
    height: 100vh;    
}

.mesa {
    width: 100vw;
    height: 80vh;
    gap: 2vw;        
}

.tarjeta {
    width: 100px;
    height: 160px;
    margin: 0.25rem;
    border-radius: 0.3em;    
}