@media (min-width: 768px){

    body {
        background-image: url("https://i.postimg.cc/rF6370h7/1440-900-escritorio-medio.png");
        background-position: center;  
        background-attachment: fixed; 
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }  
    
    main {      
        width: 100vw;
        height: 100vh;   
    }

    .mesa {
        width: 100vw;
        height: 65vh;    
    }

    .tarjeta {
        width: 14vw;
        height: 170px;    
        border-radius: 0.3em;    
    }

}